//
.links{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-column-gap: 5px;
    a{
        $border_menu_link: 1px solid lightgrey;
        grid-template-columns: repeat(8, 1fr);
        border-right: $border_menu_link;
        border-left: $border_menu_link;
        border-top: $border_menu_link;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px 20px;

        &:hover{
            color: white;
            background: lightgrey;
        }
    }
}
