// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~vuetify/dist/vuetify.min.css';
@import '~@mdi/font/css/materialdesignicons.min.css';


.py-4 {
    padding-top: 1px!important;

    #app {
        margin-bottom: 50px;
        padding: unset;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

        #vue_navbar {
            margin: 15px 0;

            .router-link-exact-active {
                color: rgba(0, 0, 0, 0.9);
            }

            ul.navbar-nav {
                flex-direction: row;
                li.nav-item {
                    a {
                        padding: 0.5rem 1rem;
                    }
                }
            }
        }

        #BlockFormAddNewRecord {
            padding: 15px;
            display: grid;
            grid-row-gap: 15px;

            #header {
                display: grid;
                grid-row-gap: 20px;
            }

            @at-root #tags {
                display: grid;
                grid-template-columns: repeat(7, auto);
                font-size: 16px;

                label {
                    display: grid;
                    grid-template-rows: auto;
                    grid-template-columns: auto 1fr;
                    align-items: center;
                    grid-column-gap: 10px;
                    font-size: 1.5em;
                }

                @media (max-width: 994px) {
                    &#tags {
                        grid-template-columns: unset;
                    }
                }
            }

            #DynamicBlockCalcTime {

            }
        }

        #vuetify-table{
         .v-input__slot{
             padding: 0 1em;
         }
        }
    }
}
